.dropzoner h2 {
    margin-left: 430px;;
    color:#157EFB;
}
input{
    display: block;
    width: 150px;
    margin-left: 450px;
    padding: 120px 0 0 0;
    margin-top: 20px;
    height: 100px;
    overflow: hidden;
    box-sizing: border-box;
    background: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png') center center no-repeat #e4e4e4;
    border-radius: 20px;
    background-size: 60px 60px;
}

button {
    display: block;
    margin-left: 430px;
    margin-top: 20px;
    background: #157EFB;
    color: #fff;
    border: none;
    position: relative;
    height: 30px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

button:hover {
    background: #fff;
    color: #157EFB;
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #157EFB;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
