.preview img {
    display: inline-block;
    width: 350px;
    height: auto;
    margin-top: -5px;
    margin-left: 75px
}
.previewDark {
    background-color: #2E394A;
    width: 500px;
    height: 300px;
    margin-left: 200px;
    border-radius: 3px;
}
.previewDark h3{
    color: white;
    text-align: center;
}


.previewLight {
    background-color: white;
    width: 500px;
    height: 300px;
    margin-left: 750px;
    margin-top: -300px;
    border: dashed #2E394A;
    border-radius: 3px;
    float: left;
}

.previewLight h3 {
    color: #2E394A;
    text-align: center;
}
