.App {
    display: grid;

    grid-template-areas:
        "logo header"
        "nav content"
        "nav  content"
        "footer footer";

    grid-template-columns: 200px 1fr ;
    grid-template-rows: auto 1fr 1fr 1fr;
    height: 100vh;
}

.logo{
    grid-area: logo;
}
.header {
    grid-area: header;
    grid-column: span 2;
}

.nav {
    grid-area: nav;
    margin-left: 0.5rem;
    grid-row: span 2;
}

.main {
    grid-area: content;   
}


footer {
    grid-area: footer;
}